<div class="footer">
    <div class="row">
        <div class="col-lg-5 mt-3">
            <div class="cont">
                <a routerLink=""><img src="../../../assets/logo.png" class="logo"></a>
                <a routerLink="">Estudio Eternal</a>
            </div>
            <p>Transforme sua pele em arte eterna no Estúdio Eternal: onde tatuagens se tornam histórias vivas!</p>
        </div>
        <div class="col-lg-4 mt-3">
            <a routerLink="" >Home</a>
            <a routerLink="sobre" >Sobre</a>
            <a routerLink="contato">Contato</a>
        </div>

        <div class="col-lg-3 mt-3">
            <a href="" target="" ><i class="bi bi-whatsapp"></i></a>
            <a href="" target="" ><i class="bi bi-facebook"></i></a>
            <a href="" target="" ><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</div>
