<div class="conteudo">
    <div class="card-contato">
        <h1 class="text-center">Contato</h1>
            <label for="exampleFormControlInput1" class="form-label">Email de Contato</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

            <label for="exampleFormControlTextarea1" class="form-label">Mensagem Enviada</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

            <button class="btn">Enviar</button>
    </div>
</div>  